@page
@model RentalHouseWebApp.Pages.Houses.ListModel
@{
}


<form method="post" class="shadow">
    <div class="row">
        <div class="col-sm-10"><h3>Houses</h3></div>
        <div class="col-sm-3">
            <a href="/Houses/Add" class="btn btn-primary" role="button">
                <i class="fa fa-add"></i>
                Add
            </a>
        </div>
    </div>

     <div class="row">
        <div class="col-md-7 mx-auto">
            <div class="input-group">
                <input class="form-control border rounded-pill"
                       type="search" placeholder="Type Search Text" id="example-search-input"
                       asp-for="@Model.SearchText">
                <span class="input-group-append">
                    <button class="btn btn-outline-primary bg-white border rounded-pill ms-n5"
                            type="submit" asp-page-handler="Search">
                        <i class="fa fa-search"></i>
                    </button>
                    <button class="btn btn-outline-dark bg-white border rounded-pill ms-n5"
                            type="submit" asp-page-handler="Clear">
                        <i class="fa fa-remove"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <h6 class="text-success">@Model.SuccessMessage</h6>
        <h6 class="text-danger">@Model.ErrorMessage</h6>
    </div>
 

<table class="table">
    <thead>

        <th>Id</th>
        <th>Location</th>
        <th>OwnerId</th>
        <th>RentalCustomerId</th>
        <th>Picture</th>
        <th>Facilities</th>
        <th>Rent</th>
      
        <th>DateofJoining</th>
        <th>DateofEnd</th>
      
      
        <th>Status</th>
      
         
         
        <th>Actions</th>
    </thead>
    <tbody>
            @foreach (var g in @Model.Houses) 
            {
            <tr>
                <td>@g.Id</td>
                <td>@g.Location</td>
                <td>@g.OwnerId</td>
                <td>@g.RentalCustomerId</td>
                <td>@g.Picture</td>
                <td>@g.Facilities</td>
                <td>@g.Rent</td>
                <td>@g.DateofJoining</td>
                  <td>@g.DateofEnd</td>
                    <td>@g.Status</td>
                
                <td>
                    <a href="/Houses/Edit/@g.Id" class="btn btn-warning" role="button">
                        <i class="fa fa-edit"></i></a>
                    <a href="/Houses/Delete/@g.Id" class="btn btn-danger" role="button">
                        <i class="fa fa-trash-can"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

</form>

